.principal{
    padding: 2rem;
    /* background-color: transparent; */
}

main{
    margin: auto;
    background-color: white;
    width: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 1920px;
}

body{
    background-color: aquamarine;
}

.titulo{
    color: black; 
    font-size: 2rem;
}

.paragrafo{
    text-align: justify;
    font-size: 1rem;
}

.principal img{
    width: 90%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.img{
    text-align: center;
}


@media screen and (max-width: 768px) {
    .principal{
        padding: 0rem;
        /* background-color: transparent; */
    }
    
    main{
        margin: auto;
        background-color: white;
        width: 70%;
        padding-top: 5%;
        padding-bottom: 5%;
        min-width: 1920px;
    }
    
    body{
        background-color: aquamarine;
    }
    
    .titulo{
        color: black; 
        font-size: 2rem;
    }
    
    .paragrafo{
        text-align: justify;
        font-size: 1rem;
    }
    
    .principal img{
        width: 90%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    .img{
        text-align: center;
    }
}