{% extends 'base.html' %}
{%block css%}  {%endblock css%}
    
{% block title %} Contato {% endblock title %}

{%block conteudo%}

<!-- Paragrafo -->
<div class="principal">

    <h1 class="titulo">Entre em Contato</h1>
    <p class="paragrafo">
        Para tirar alguma duvida preencha o formilário abaixo:
    </p>

    <form action="" id="form">

        <label for="fname">Nome (Completo)</label> <br>
        <input type="text" id="fname" name="fname" ><br>

        <br>

        <label for="fsobrenome">Email</label><br>
        <input type="text" name="fsobrenome" id="fsobrenome"><br>

        <br>

        <label for="fdescricao">Descrição</label><br>
        <input type="fdescricao" name="fdescricao" id="fdescricao"><br>

        <br>
        
        <div id="liveAlertPlaceholder">
            <button type="button" class="btn btn-primary" id="liveAlertBtn">Enviar</button>
            <br>
        </div>
    </form>


    <script src="../static/js/snippets.js"> </script>
</div>

{%endblock conteudo%}