{% extends 'base.html' %}
{%block css%}  {%endblock css%}
    
{% block title %} Contato {% endblock title %}

{%block conteudo%}

<!-- Paragrafo -->
<div class="principal">

    <h1 class="titulo">Entre em Contato</h1>
    <p class="paragrafo">
        Para tirar alguma duvida preencha o formilário abaixo:
    </p>

    <form form action="/include" method="POST">

        <label for="fname">Nome (Completo)</label> <br>
        <input type="text" id="fnome" name="fnome" class="large-input" size="48" required><br>

        <br>

        <label for="femail">Email</label> <br>
        <input type="text" name="femail" id="femail" class="large-input" size="48" required><br>

        <br>
        
        <label for="fdescricao">Descrição:</label> <br>
        <textarea id="fdescricao" name="fdescricao" class="large-textarea" cols="50" rows="10" required></textarea>

        <br>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    
    </form>


    <script src="../static/js/snippets.js"> </script>
</div>

{%endblock conteudo%}