{% extends 'base.html' %}
{%block css%}  {%endblock css%}
    
{% block title %} Quem somos {% endblock title %}

{%block conteudo%}

<!-- Paragrafo -->
<div id="divparagrafo">

    <h1 class="titulo">Quem somos</h1>
    <p class="paragrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sit! Beatae officiis fuga cumque
        molestiae laborum ratione adipisci architecto, iste modi sapiente, repellat laboriosam, similique
        dolores minus corporis totam at! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sapiente autem adipisci dolor rerum corporis accusamus culpa rem dolorem enim labore itaque, ab tempora maiores omnis, et voluptas quae suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ratione voluptas sunt nam illo, consequuntur veniam perferendis velit ut esse impedit id. Ratione, reiciendis nihil! Consectetur ipsa mollitia quo soluta.
    </p>

    

    <br>

    <h1 class="titulo">Nossa história</h1>
    <p class="paragrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sit! Beatae officiis fuga cumque
        molestiae laborum ratione adipisci architecto, iste modi sapiente, repellat laboriosam, similique
        dolores minus corporis totam at! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sapiente autem adipisci dolor rerum corporis accusamus culpa rem dolorem enim labore itaque, ab tempora maiores omnis, et voluptas quae suscipit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel voluptates, incidunt amet quidem voluptate odio natus quia aliquid placeat laudantium nulla ipsa similique dolorum neque nesciunt debitis error? Inventore!
    </p>

    <p class="paragrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sit! Beatae officiis fuga cumque
        molestiae laborum ratione adipisci architecto, iste modi sapiente, repellat laboriosam, similique
        dolores minus corporis totam at! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sapiente autem adipisci dolor rerum corporis accusamus culpa rem dolorem enim labore itaque, ab tempora maiores omnis, et voluptas quae suscipit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel voluptates, incidunt amet quidem voluptate odio natus quia aliquid placeat laudantium nulla ipsa similique dolorum neque nesciunt debitis error? Inventore!
    </p>

    <p class="paragrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sit! Beatae officiis fuga cumque
        molestiae laborum ratione adipisci architecto, iste modi sapiente, repellat laboriosam, similique
        dolores minus corporis totam at! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sapiente autem adipisci dolor rerum corporis accusamus culpa rem dolorem enim labore itaque, ab tempora maiores omnis, et voluptas quae suscipit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel voluptates, incidunt amet quidem voluptate odio natus quia aliquid placeat laudantium nulla ipsa similique dolorum neque nesciunt debitis error? Inventore!
    </p>

    <p class="paragrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sit! Beatae officiis fuga cumque
        molestiae laborum ratione adipisci architecto, iste modi sapiente, repellat laboriosam, similique
        dolores minus corporis totam at! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sapiente autem adipisci dolor rerum corporis accusamus culpa rem dolorem enim labore itaque, ab tempora maiores omnis, et voluptas quae suscipit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel voluptates, incidunt amet quidem voluptate odio natus quia aliquid placeat laudantium nulla ipsa similique dolorum neque nesciunt debitis error? Inventore!
    </p>

    <p class="paragrafo">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, sit! Beatae officiis fuga cumque
        molestiae laborum ratione adipisci architecto, iste modi sapiente, repellat laboriosam, similique
        dolores minus corporis totam at! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae sapiente autem adipisci dolor rerum corporis accusamus culpa rem dolorem enim labore itaque, ab tempora maiores omnis, et voluptas quae suscipit?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti vel voluptates, incidunt amet quidem voluptate odio natus quia aliquid placeat laudantium nulla ipsa similique dolorum neque nesciunt debitis error? Inventore!
    </p>

</div>

{%endblock conteudo%}