{% extends 'base.html' %}
{%block css%}  {%endblock css%}
    
{% block title %} Quem somos {% endblock title %}

{%block conteudo%}

<!-- Paragrafo -->
<div class="principal">

    <h1 class="titulo">Quem somos</h1>
    <p class="paragrafo">
        Bem-vindo à Universidade Nacional de Educação Superior (UNES), uma instituição de ensino superior dedicada a moldar mentes brilhantes e preparar líderes do amanhã. Localizada no coração pulsante da cidade de São Paulo, a UNES é mais do que uma simples universidade - somos uma comunidade vibrante de aprendizes, professores e pesquisadores comprometidos com a excelência acadêmica, a inovação e o impacto social positivo.
    </p>

    <h1 class="titulo">Nossa história</h1>
    <p class="paragrafo">
        A Universidade Nacional de Educação Superior (UNES) teve suas raízes plantadas em uma época de mudanças sociais e transformações educacionais no Brasil. Fundada em 1960 por um grupo visionário de educadores liderados pelo renomado professor Miguel Almeida, a UNES surgiu como uma resposta à crescente demanda por ensino superior de qualidade em São Paulo.
    </p>

    <p class="paragrafo">
        Inicialmente estabelecida em uma modesta instalação no centro da cidade, a UNES rapidamente ganhou reputação por seu compromisso com a excelência acadêmica e sua abordagem inovadora para o ensino e a aprendizagem. Sob a liderança visionária do Prof. Almeida, a universidade expandiu-se rapidamente, adquirindo novos terrenos e construindo modernos campi em diversas regiões da cidade.
    </p>

    <div class="img"> 
        <img src="../static/imagens/unidade1-fundação.jpg" alt="unidade 1"> 
    </div>

    <p class="paragrafo">
        Ao longo das décadas seguintes, a UNES continuou a crescer e prosperar, tornando-se uma das principais instituições de ensino superior do país. Hoje, a UNES é reconhecida não apenas por seus programas acadêmicos de classe mundial, mas também por seu compromisso com a inclusão, a diversidade e o impacto social positivo. A universidade atrai alunos e professores de todo o Brasil e do mundo, que são atraídos pela reputação da UNES como um centro de excelência acadêmica e inovação.
    </p>

    <h1> Nosso Fundador: Prof. Miguel Almeida </h1>

    <div class="img"> 
        <source media="(max-width: 650px)" srcset="../static/imagens/fundador_mobile.jpg">
        <img src="../static/imagens/fundador.png" alt="fundador"> 
    <div>

    <p class="paragrafo">
        O Prof. Miguel Almeida nasceu em uma pequena cidade do interior de São Paulo, onde desenvolveu desde cedo um profundo amor pelo conhecimento e pela educação. Após concluir seus estudos em uma universidade renomada no exterior, o Prof. Almeida retornou ao Brasil com o objetivo de fazer a diferença na vida dos jovens brasileiros, proporcionando-lhes acesso a uma educação de qualidade.
    </p>

    <p class="paragrafo">
        Determinado a realizar sua visão de uma instituição de ensino superior que preparasse os alunos para os desafios do mundo moderno, o Prof. Almeida fundou a UNES em 1960, com o apoio de um grupo de educadores e filantropos igualmente apaixonados pela educação. Sua visão audaciosa e seu compromisso inabalável com a excelência acadêmica foram fundamentais para o sucesso inicial da UNES e continuaram a inspirar gerações de alunos e professores ao longo dos anos.
    </p>

    <p class="paragrafo">
        O Prof. Almeida dedicou sua vida ao desenvolvimento e crescimento da UNES, servindo como reitor por mais de três décadas e deixando um legado duradouro de inovação, liderança e compromisso com o serviço público. Sua visão e dedicação continuam a guiar a UNES até os dias de hoje, inspirando a comunidade universitária a alcançar novos patamares de excelência e impacto social positivo.
    </p>

</div>

{%endblock conteudo%}