{% extends 'base_unidades.html' %}
{%block css%}  {%endblock css%}
    
{% block title %} Página principal {% endblock title %}

{%block conteudo%}

    <div class="principal">
        <h1 class="titulo">  </h1>

        <div class="img">
            <img src="/static/imagens/unidade2.svg" alt="">
        </div>

        <p class="paragrafo"> O Campus Zona Norte da UNES, localizado no bairro de Santana, é um centro de excelência acadêmica e inclusão social. Fundado em 1975 como parte do compromisso da UNES em democratizar o acesso à educação superior, este campus acolhedor oferece uma variedade de cursos voltados para as ciências humanas, educação e saúde. Com uma comunidade diversificada de estudantes e professores, o Campus Zona Norte é conhecido por sua atmosfera acolhedora e seu forte senso de comunidade. </p>

        <p class="paragrafo"> Alguns dos cursos oferecidos no Campus Zona Norte incluem: </p>

        <ul>
            <li> Pedagogia </li>

            <li> Serviço Social </li>

            <li> Enfermagem </li>

            <li> Ciências Biológicas </li>

            <li> História </li>
        </ul>

    </div>

{%endblock conteudo%}