{% extends 'base_unidades.html' %}
{%block css%}  {%endblock css%}
    
{% block title %} Página principal {% endblock title %}

{%block conteudo%}

    <div class="principal">
        <h1 class="titulo">  </h1>

        <div class="img">
            <img src="/static/imagens/unidade3.svg" alt="">
        </div>

        <p class="paragrafo"> O Campus Zona Sul da UNES, situado no elegante bairro do Morumbi, é um enclave de aprendizado e inovação. Fundado em 1988 para atender à crescente demanda por educação de qualidade na região, este campus moderno oferece uma ampla gama de cursos nas áreas de engenharia, tecnologia e saúde. Com instalações de última geração e uma equipe de professores dedicados, o Campus Zona Sul é um destino popular para estudantes em busca de uma educação de ponta em um ambiente inspirador.</p>

        <p class="paragrafo"> Alguns dos cursos oferecidos no Campus Zona Sul incluem: </p>

        <ul>
            <li> Engenharia Civil </li>

            <li> Ciência da Computação </li>

            <li> Fisioterapia </li>

            <li> Nutrição </li>

            <li> Arquitetura e Urbanismo </li>
        </ul>

    </div>

{%endblock conteudo%}